Nsxiv.bar.font: Scientifica:size=13:weight=regular
Nsxiv.bar.foreground: #b5a192
Nsxiv.bar.background: #e2d3c3
Nsxiv.mark.foreground: #cca380
Nsxiv.window.foreground: #fbeedb
Nsxiv.window.background: #fbeedb
