color ctl_bar_hi black black normal
color ctl_bar_mi red black normal
color ctl_bar_lo red red normal
color ctl_nomute red black normal

color ctl_label_focus yellow black normal
color ctl_label red black normal

color ctl_mark_focus default default normal

color menu red black normal
color menu_selected black red normal

color mixer_active red default normal
